---
layout: page
title: 贾亚明的个人博客
subtitle: 天行健,君子以自强不息。地势坤,君子以厚德载物
---

<!--
<div class="main-explain-area jumbotron">
  <p>Check out my blog on Open Data science!</p>
</div>
-->

<!-- 
<h1> Blog posts on Open Data Science: </h1> 
-->

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h3 class="post-title">{{ post.title }}</h3>
	
	  {% if post.subtitle %}
	  <h5 class="post-subtitle">
	    {{ post.subtitle }}
	  </h5>
	  {% endif %}  
    </a>

    <p class="post-meta">
      发布于: {{ post.date | date: "%Y 年%m月%-d日" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 20 | strip_html}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[阅读更多]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
